<%- contentFor('Th_Khung') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tất cả điện thoại</title>
    <script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
    <script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<style>
    body{
        background: black;
    }
    .sp{
        float: left;
        margin: 15px;
        height: 320px;
        width: 230px;
        border-style: solid;
        border-radius: 10px;
        background-color: white;
        text-align: center;
    }
    .sp img{
        height: 240px;
        width: 200px;
        margin: 10px;
    }
    .sp span{
        font-size: 14pt;
        color: yellowgreen;
    }
    .sp .gia{
        font-size: 15pt;
        color: cyan;
        font-weight: bold;
    }
    #Th_Danh_sach{
        padding-left: 30px;
    }
</style>

<body>
    <div id="Th_Danh_sach">

    </div>
</body>
</html>

<script>
    var Du_lieu = {}
    var Danh_Sach_Dienh_thoai = []
    XL_DU_LIEU.KHOI_DONG_DU_LIEU_KHACH_HANG(Du_lieu => {
        Danh_Sach_Dienh_thoai = Du_lieu.Danh_sach_Dien_thoai
        Danh_Sach_Dienh_thoai.forEach(x => {
            if (x.Nhom_Dien_thoai.Ten == "Android")
                XL_DIEN_THOAI.Tao_the_hien_Khach_hang(x, Th_Danh_sach) 
        }) 
        Lay_DS_Da_chon();
    })
    function Lay_DS_Da_chon(){
        var sanpham = document.getElementsByClassName("sp")
        Danh_Sach_Dienh_thoai.forEach(x => {
            if (localStorage.getItem(x.Ma_so))
            {
                var index = Danh_Sach_Dienh_thoai.indexOf(x)
                sanpham[index].style.opacity = 0.6;
            }
        })
    }
</script>