<%- contentFor('Th_Khung') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tất cả điện thoại</title>
    <script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
    <script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<style>
    td img {
        height: 100px;
    }

    th,
    td {
        text-align: center;
        vertical-align: middle !important;
    }
</style>

<body>
    <div class="container">
        <table id="table" class="table">
            <thead class="text-primary">
                <tr>
                    <td>Sản phẩm</td>
                    <td>Tên</td>
                    <td>Đơn giá bán</td>
                    <td>Số lượng</td>
                    <td>Chọn</td>
                </tr>
            </thead>
            <tbody id="Th_Danh_sach"></tbody>
        </table>

        <div class="pull-right">
            <button class="btn btn-danger" id="Th_Xoa" style="margin:20px;" onclick="Xoa()">Xóa</button>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">Thông tin Khách hàng</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-2">Họ tên</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" placeholder="Họ tên" id="Th_Ho_ten" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">Điện thoại</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" placeholder="Điện thoại" id="Th_Dien_thoai_Khach" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">Địa chỉ</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" placeholder="Địa chỉ" id="Th_Dia_chi">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2">Ngày Giao hàng</label>
                            <div class="col-xs-10">
                                <input type="date" class="form-control" placeholder="Ngày Giao hàng" id="Th_Ngay_Giao_hang">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <button type="button" id="Th_Dong_y" class="btn btn-primary btn-group-sm active">Đặt hàng</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    var Du_lieu = {}
    var Danh_Sach_Dien_thoai = []
    XL_DU_LIEU.KHOI_DONG_DU_LIEU_KHACH_HANG(Du_lieu => {
        Danh_Sach_Dien_thoai = Du_lieu.Danh_sach_Dien_thoai
        Lay_DS_Da_chon();

        /**/

        /**/
    })

    function Lay_DS_Da_chon() {
        Danh_Sach_Dien_thoai.forEach(x => {
            if (localStorage.getItem(x.Ma_so)) {
                XL_DIEN_THOAI.Tao_the_hien_Gio_hang(x, Th_Danh_sach)
            }
        })
    }

    function Xoa() {
        var sp = document.getElementsByClassName("SanPham")

        for (i = sp.length; i > 0; i--){
            if (sp[i-1].checked == true){
                localStorage.removeItem(sp[i-1].value)
                Th_Danh_sach.deleteRow(i-1)
            }
        }
        if (Th_Danh_sach.rows.length == 0)
            window.location = "MH_Xem_Dien_thoai.html"
    }

    Th_Dong_y.onclick=()=>{
        if (KT_Thong_tin_KH())
            MuaHang()
        else
            alert("Mời bạn nhập thông tin còn thiếu...")        
    }

    function KT_Thong_tin_KH(){
        if (Th_Ho_ten.value == "")
            return false;
        if (Th_Dien_thoai_Khach.value == "")
            return false;
        if (Th_Dia_chi.value == "")
            return false;
        if (document.getElementById("Th_Ngay_Giao_hang").value == "")
            return false;
        return true;
    }

    function MuaHang(){
        var SL = document.getElementsByClassName("SoLuong");
        for (i = localStorage.length-1; i >= 0 ; i--){
            var SLDT = SL[i].value;
            var Dien_thoai = Danh_Sach_Dien_thoai.find(DT => DT.Ma_so == SL[i].getAttribute("Ma_so"))
            var Phieu_Dat_hang = {}
            Phieu_Dat_hang.Ngay_Dat_hang = new Date()
            Phieu_Dat_hang.Ngay_Giao_hang = document.getElementById("Th_Ngay_Giao_hang").value
            Phieu_Dat_hang.So_luong = parseInt(SLDT)
            Phieu_Dat_hang.Don_gia_Ban = Dien_thoai.Don_gia_Ban
            Phieu_Dat_hang.Tien = Dien_thoai.Don_gia_Ban * SLDT
            Phieu_Dat_hang.Trang_thai = "CHUA_GIAO_HANG"
            Phieu_Dat_hang.Khach_hang = {}
            Phieu_Dat_hang.Khach_hang.Ho_ten = Th_Ho_ten.value
            Phieu_Dat_hang.Khach_hang.Dien_thoai = Th_Dien_thoai_Khach.value
            Phieu_Dat_hang.Khach_hang.Dia_chi = Th_Dia_chi.value

            Dien_thoai.Danh_sach_Phieu_Dat_hang.push(Phieu_Dat_hang)

            /*
                THEM_PHIEU_DAT_HANG
            */
            XL_DU_LIEU.THEM_PHIEU_DAT_HANG(Dien_thoai)
            /*
                THEM_PHIEU_DAT_HANG
            */
            localStorage.removeItem(SL[i].getAttribute("Ma_so"))
        }
        alert("Đặt mua thành công!")
        window.location = "MH_Xem_Dien_thoai.html"
    }
</script>