<%- contentFor('Th_Khung') %>
	<!DOCTYPE html>
	<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Trang chủ cửa hàng</title>
		<script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
		<script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>

		<!--Font-->
		<link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|Francois+One" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!--Css-->
		<link rel="stylesheet" type="text/css" href="/stylesheets/stylekh.css">

	</head>

	<body>
		<div id="Thong_tin">
			<div style="margin-top: 28vh">Chào mừng bạn
				<br>đến với</div>
			<div id="Th_Ten_CH">VŨ TRỤ DI ĐỘNG</div>
		</div>
		<div id="Noi_dung" style="height: 1000px">
			<div id="navbar">
				<div class="x_close" onclick="trans_icon_x(this)">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</div>
				<a id="nut_gio_hang" class="cart">
					Xem giỏ hàng
				</a>
				<a id="nut_all">Tất cả</a>
				<a id="nut_android">Android</a>
				<a id="nut_iphone">Iphone</a>
				<a id="nut_lien_he">Liên hệ</a>
			</div>
			<input id="input_search" class="hidden" type="text" style="width: var(--mitems/2);" placeholder="Tìm...">

			<iframe id="Khung_chuc_nang" width=100% height=1000px></iframe>
		</div>
	</body>

	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<script src="/javascripts/onload.js"></script>

	<script>

		nut_android.onclick = () => {
			Khung_chuc_nang.src = "android"
		}
		nut_iphone.onclick = () => {
			Khung_chuc_nang.src = "iphone"
		}
		nut_all.onclick = () => {
			Khung_chuc_nang.src = "all"
		}
		nut_lien_he.onclick = () => {
			Khung_chuc_nang.src = "lien_he"
		}
		nut_gio_hang.onclick = () => {
			Khung_chuc_nang.src = "gio_hang"
		}

	</script>


	</html>