<%- contentFor('Th_Khung') %>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Liên hệ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB66bnUI-2AiQOqAyiOrtHcoO4MCmTpvTA&callback=InitializeMap"
        type="text/javascript"></script>
    <script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
    <script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>

</head>

<body>
    <div class="container mx-auto" style="width:55rem;margin-top:20px">
        <div class="row">
            <div class="card col">
                <div class="card-block">
                    <h4 class="card-title text-center text-danger" id="Th_cua_hang"></h4>
                    <div id="map" style="height: 30rem; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    XL_DU_LIEU.KHOI_DONG_DU_LIEU_KHACH_HANG(Du_lieu => {
        Th_cua_hang.innerHTML = Du_lieu.Cua_hang.Ten + `<br><span style="color:black;font-size:15px">${Du_lieu.Cua_hang.Dia_chi}</span>`
        FindLocaiton(Du_lieu.Cua_hang.Dia_chi)
    })

    var map;
    var geocoder;

    function InitializeMap() {
        var latlng = new google.maps.LatLng(10.823099, 106.629664); // Vĩ độ, Kinh độ Tp Hồ Chí Minh
        var myOptions = {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map"), myOptions);
    }

    function FindLocaiton(Dia_chi) {
        geocoder = new google.maps.Geocoder();
        InitializeMap();
        var address = Dia_chi
        geocoder.geocode({
            'address': address
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                map.setZoom(15);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
                if (results[0].formatted_address) {
                    region = results[0].formatted_address + '<br />';
                }
                var infowindow = new google.maps.InfoWindow({
                    content: '<div style =width:400px; height:400px;>Country Name: ' +
                        region + '<br/>LatLng: ' + results[0].geometry.location + '</div>'
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            } else {
                alert("Không tìm thấy địa chỉ của bạn: " + status);
            }
        });

    }
</script>

</html>