<%- contentFor('Th_Khung') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<style>
    h3{
        color: blue;
    }
</style>
<body>
    <h3 id="Th_Thong_bao" ></h3>
</body>
<script>
    Th_Thong_bao.innerHTML="Lỗi: " + localStorage.getItem("Ma_so_Loi");
</script>
</html>