/* CSS Document */

body {
    font-size: 12px;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table,
thead,
th,
tr {
    font-size: 1em;
}

.header {
    background-color: chocolate;
    color: #fff;
    padding: 5px;
    margin: 0px 5px;
}

iframe {
    display: block;
    background: #000;
    border: none;
    /*
	height: calc(100vh - 30px);
	width:100%;
	*/
    width: 100%;
    height: calc(100em);
}

.menu {
    color: crimson;
    padding: 5px 0px;
    border: 1px solid #9D9D9D;
    margin: 0px 5px;
}

.menu button {
    /*margin:5px;*/
    /*border: 3px outset #F7F2F2;*/
    border-radius: 5px;
}

.content {
    color: crimson;
    padding: 5px 0px;
    border: 1px solid #9D9D9D;
    background-color: #fff;
    margin: 0px 5px;
}

.box {
    /*margin:2px;*/
    border: 1px solid #7C7C7C;
    /*padding:2px;*/
}

.box img {
    width: 80%;
}

.footer {
    padding: 5px;
    background-color: chocolate;
    color: #fff;
    margin: 0px 5px;
    font-size: 1em;
    font-weight: 200;
}

.badge {
    background-color: #0C4203;
    color: #fff;
    border-radius: 5px;
    opacity: 0.8;
}