body{
	margin: 0;
	padding: 0;
	font-family: 'Cabin Condensed', sans-serif;
	--mtop: calc(100vh - 50px);
	--mitems: calc((100vw - 550px)/2);
}
#Thong_tin{
	position: fixed;
	z-index: -2;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--mtop);
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(54, 123, 127,0.4) 100%), url(/images/bg/xSsg57B.jpg);
	background-position: center;
	background-size: 1700px 956px;

	font-size: 50px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1.5px;
}
#Th_Ten_CH{
	font-family: 'Francois One', sans-serif;
	font-size: 8px;
	text-shadow: 0px 0px 20px black;
	transition: font-size 0.3s;
}
#Noi_dung{
	width: 100%;
	margin-top: var(--mtop);
	background-color: #fff;
}

#navbar {
	overflow: hidden;
	background-color: #fff;
	padding-left: var(--mitems);
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	height: 53px;
	transition: all 0.5s;
}
#navbar a {
	float: left;
	display: block;
	color: #000;
	text-align: center;
	padding: 17px 40px;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 1.5px;
}
#navbar a:hover {
	background-color: #f0f0f0;
	color: black;
	cursor: pointer;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky2{
	padding-top: 55px;
}
@media screen and (max-width: 768px) {
	#navbar a:not(:nth-child(2)) {
		display: none;
	    float: none;
	    display: block;
	    text-align: center;
	}
	#navbar{
		padding-left: 0;
	}
	#navbar a:nth-child(4) {
		margin-top: 55px;
	}
	#navbar .x_close {
	    display: inline-block;
	}
}
a.cart{
	position: absolute;
	right: 0;
}
div.cart{
	background-image: url(/images/cart2.png);
	background-repeat: no-repeat;
	background-size: 29px;
	color: black;
	width: 31px;
	height: 29px;
}
/* .badge{
	font-family: 'Francois One', sans-serif;
	background-color: #b2ecf7;
	color: #000;
	display: inline-block;
	padding-left: 6px;
	padding-right: 5px;
	text-align: center;
	border-radius: 50%;
	position: relative;
	bottom: 20px;
	left: 10px;
} */

.x_close {
	position: absolute;
	left: 0;
    display: none;
    cursor: pointer;
    padding: 10px 15px 1px;
}
#search{
	position: absolute;
	right: 71px;
}
#search_item{
	background-image: url(/images/search.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 29px;
	height: 29px;
	width: 31px;
}
#search:hover{
	background-color: #f0f0f0;
	color: black;
}
#input_search{
	margin-top: 4px;
	position: absolute;
	right: 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 12px;
}
.hidden{
	display: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 8px) ;
    transform: rotate(-45deg) translate(-5px, 8px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -10px) ;
    transform: rotate(45deg) translate(-6px, -10px) ;
}

#Khung_chuc_nang{
	width: 100%;
	padding: 30px 10px;
}
