<%- contentFor('Th_Khung') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biểu đồ thống kê doanh thu</title>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
    <script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>
	<script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col" id="Th_Chart"></div>
        </div>
    </div>
</body>

<script>
    var DS_DT = []
    var Data = []
    var Data_x = []

    XL_DU_LIEU.Du_lieu_doanh_thu((Du_lieu) => {
        DS_DT = Du_lieu.Danh_sach_Dien_thoai
        console.log(DS_DT)
        Tao_Du_lieu_thong_ke_Data_x()
        Tao_Du_lieu_thong_ke();
        Tao_Bieu_do(Th_Chart, Data, Data_x);
    })

    function Tao_Du_lieu_thong_ke_Data_x() {
        DS_DT.forEach(Dien_thoai => {
            Data_x.push(Dien_thoai.Ten)
        })
    }

    function Tao_Du_lieu_thong_ke() {
        var Muc_doanh_thu = ["Tổng tiền nhập", "Tổng tiền bán"]
        Muc_doanh_thu.forEach(x => {
            var Item = {}
            Item.data = []
            Item.name = x
            DS_DT.forEach(Dien_thoai => {
                if (x == "Tổng tiền nhập"){
                    var tong = 0
                    Dien_thoai.Danh_sach_Phieu_Nhap.forEach(Phieu =>{
                        tong += Phieu.Tien
                    })
                    Item.data.push(tong)
                }else if (x == "Tổng tiền bán"){
                    var tong = 0
                    Dien_thoai.Danh_sach_Phieu_Ban.forEach(Phieu =>{
                        tong += Phieu.Tien
                    })
                    Item.data.push(tong)
                }
            })
            Data.push(Item)
        })
    }

    function Tao_Bieu_do(Th_Chart, Data, Data_x) {
        Highcharts.setOptions({
            lang: {
                numericSymbols: [' Ngàn', ' Triệu', ' Tỷ'],
                numericSymbolMagnitude: 100000000000,
                decimalPoint: ',',
                thousandsSep: '.'
            },
            chart: {
                style: {
                    fontFamily: 'tahoma',
                    fontSize: 16
                }
            }
        });

        Highcharts.chart('Th_Chart', {
            chart: { type: 'column' },
            title: { text: 'THỐNG KÊ DOANH THU' },
            //subtitle: {text: 'Cửa hàng Điện thoại Thu Trân'},
            xAxis: { categories: JSON.parse(JSON.stringify(Data_x)) },
            yAxis: { title: { text: 'Giá trị doanh thu' } },
            legend: { layout: 'vertical', align: 'right', verticalAlign: 'middle' },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.numberFormat(this.point.y, "") + ' vnđ'
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 1
                }
            },
            series: Data
        });
    }

</script>

</html>