<%- contentFor('Th_Khung') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biểu đồ thống kê phiếu nhập</title>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
    <script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>
	<script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col" id="Th_Chart"></div>
        </div>
    </div>
</body>

<script>
    var DS_DT = []
    var Data = []
    var Data_x = []

    XL_DU_LIEU.Du_lieu_phieu_nhap((Du_lieu) => {
        DS_DT = Du_lieu.Danh_sach_Dien_thoai
        Tao_Du_lieu_thong_ke_Data_x()
        Data_x.sort((a, b) => {
            var a = a.split("/")
            var b = b.split("/")
            return new Date(a[2], a[1], a[0]) - new Date(b[2], b[1], b[0]);
        })
        Tao_Du_lieu_thong_ke();
        Tao_Bieu_do(Th_Chart, Data, Data_x);
    })
    
    function Tao_Du_lieu_thong_ke_Data_x() {
        DS_DT.forEach(Dien_thoai => {
            Dien_thoai.Danh_sach_Phieu_Nhap.forEach(Phieu => {
                var ngay = new Date(Phieu.Ngay.toString())
                var Chuoi_Ngay = ngay.getDate() + "/" + (ngay.getMonth() + 1) + "/" + ngay.getFullYear()
                Data_x.push(Chuoi_Ngay)
            })
        })
    }

    function Tao_Du_lieu_thong_ke() {
        DS_DT.forEach(Dien_thoai => {
            Dien_thoai.Danh_sach_Phieu_Nhap.forEach(Phieu => {
                var ngay = new Date(Phieu.Ngay.toString())
                var Chuoi_Ngay = ngay.getDate() + "/" + (ngay.getMonth() + 1) + "/" + ngay.getFullYear()
                var Item = {}
                Item.data = []
                Item.name = Dien_thoai.Ten + " - " + Chuoi_Ngay
                Data_x.forEach(n => {
                    if (n == Chuoi_Ngay) {
                        Item.data.push(parseInt(Phieu.So_luong))
                    } else {
                        Item.data.push("")
                    }
                })
                Data.push(Item)
            })
        })
    }

    function Tao_Bieu_do(Th_Chart, Data, Data_x) {
        Highcharts.setOptions({
            lang: {
                numericSymbols: [' Ngàn', ' Triệu'],
                numericSymbolMagnitude: 10000,
                decimalPoint: ',',
                thousandsSep: '.'
            },
            chart: {
                style: {
                     fontFamily: 'tahoma',
                     fontSize: 16
                }
            }
        });

        Highcharts.chart('Th_Chart', {
            chart: { type: 'column'},
            title: { text: 'THỐNG KÊ SỐ LƯỢNG NHẬP HÀNG'},
            //subtitle: {text: 'Cửa hàng Điện thoại Thu Trân'},
            xAxis: {categories: JSON.parse(JSON.stringify(Data_x))},
            yAxis: {title: {text: 'Số lượng nhập hàng'}},
            legend:{layout: 'vertical',align: 'right',verticalAlign: 'middle'},
            tooltip:{
                formatter: function() {
                        return '<b>' + this.series.name + '</b><br/>' +
                            Highcharts.numberFormat(this.point.y, "") + ' Cái'}},
            plotOptions: {column: {
                    pointPadding: 0.2,
                    borderWidth: 1}},
            series: Data
        });
    }
</script>

</html>