<%- contentFor('Th_Khung') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Quản lý</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
        <script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>
        <script src="/javascripts/jquery-1.11.2.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    </head>
    <style>
        fieldset {
            width: 620px;
            margin: auto;
            margin-bottom: 50px;
        }

        iframe {
            height: 420px;
            width: 100%;
            border: none;
        }

        #Cua_hang_1 {
            font-size: 22pt;
            padding: 25px 10px;
            padding-bottom: 15px;
            font-family: 'Pacifico', cursive;
            text-align: center;
        }

        #Cua_hang_2 {
            text-align: center;
            font-family: 'Pacifico', cursive;
            font-size: 14px;
            padding: 15px 0;
        }

        #Thong_Tin {
            background-color: #47C767;
            padding-bottom: 5px;
            border-radius: 5px 30px;
        }

        .modal-open .modal {
            background-color: black
        }
    </style>

    <body>
        <div class="container" id="Thong_Tin">
            <div class="col-md-6" id="Cua_hang_1"></div>
            <div class="col-md-6" id="Cua_hang_2"></div>
        </div>

        <div class="container">
            <fieldset>
                <legend>
                    <h2>Ứng dụng các chức năng quản lý Điện thoại</h2>
                </legend>
                <button class="btn btn-default" id="XemDS">Toàn bộ</button>
                <button class="btn btn-info" id="Tim">Tìm kiếm</button>
                <button class="btn btn-primary" id="Them">Thêm mới</button>
                <button class="btn btn-primary" id="Sua">Sửa thông tin</button>
                <button class="btn btn-danger" id="Xoa_TL">Xóa &amp; thanh lý</button>
                <button class="btn btn-success" id="Phuc_hoi">Phục hồi xóa</button>
                <br><br>
                <div class="btn-group btn-group-justified">
                    <a href="#" id="Th_doanh_thu" class="btn btn-primary">Doanh Thu</a>
                    <a href="#" id="Th_phieu_ban" class="btn btn-primary">Phiếu bán</a>
                    <a href="#" id="Th_phieu_nhap" class="btn btn-primary">Phiếu nhập</a>
                </div>
            </fieldset>
            <iframe id="Khung_Chuc_nang"></iframe>
        </div>

        <!--Modal-->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        <h4 class="modal-title">ĐĂNG NHẬP HỆ THỐNG</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Th_Ten">Tên đăng nhập:</label>
                            <input type="text" class="form-control" id="Th_Ten_Dang_nhap" value="QL_1">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mật khẩu:</label>
                            <input type="password" class="form-control" value="QL_1" id="Th_Mat_khau">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-primary" id="Th_Dang_nhap" autofocus>Đăng nhập</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- end Modal-->
    </body>

    <script>
        //---Modal----
        if (!sessionStorage.getItem("Ho_ten")) {
            $("#myModal").modal({ backdrop: false });
        }

        Th_Dang_nhap.onclick = () => {
            var Ten_Dang_nhap = Th_Ten_Dang_nhap.value
            var Mat_khau = Th_Mat_khau.value
            XL_DU_LIEU.Dang_nhap_He_thong_Quan_ly(Ten_Dang_nhap, Mat_khau, (Du_lieu) => {
                if (Du_lieu.Ma_so_Loi == "") {

                    $("#myModal").modal("hide")
                    sessionStorage.setItem("Ho_ten", Du_lieu.Ho_ten)
                }

            });

        }
        //---End------
        var Du_lieu = {}
        XL_DU_LIEU.Thong_tin_Cua_hang(Du_lieu => {
            Cua_hang_1.innerHTML = Du_lieu.Cua_hang.Ten
            Cua_hang_2.innerHTML = `<div>Điện thoại: ${Du_lieu.Cua_hang.Dien_thoai}</div><div>Email: ${Du_lieu.Cua_hang.Mail}</div><div>Địa chỉ: ${Du_lieu.Cua_hang.Dia_chi}</div>`
            if (Du_lieu.Xoa != 0)
                localStorage.setItem("XOA", "TRUE");
        })

        XemDS.onclick = () => {
            Khung_Chuc_nang.src = "quanly/Ung_dung_cho_Quan_ly"
        }
        Them.onclick = () => {
            Khung_Chuc_nang.src = "quanly/Them_dien_thoai"
        }
        Sua.onclick = () => {
            Khung_Chuc_nang.src = "quanly/Sua_Dien_thoai"
        }
        Xoa_TL.onclick = () => {
            Khung_Chuc_nang.src = "quanly/Xoa_Thanh_ly_dien_thoai"
        }
        Phuc_hoi.onclick = () => {
            if (localStorage.getItem("XOA")) {
                Khung_Chuc_nang.src = "quanly/Phuc_hoi_DT_Da_xoa"
            }
        }
        Tim.onclick = () => {
            Khung_Chuc_nang.src = "quanly/Tim_kiem"
        }
        Th_doanh_thu.onclick = () => {
            Khung_Chuc_nang.src = "quanly/bieu_do_doanh_thu"
        }
        Th_phieu_ban.onclick = () => {
            Khung_Chuc_nang.src = "quanly/Bieu_do_Phieu_ban"
        }
        Th_phieu_nhap.onclick = () => {
            Khung_Chuc_nang.src = "quanly/Bieu_do_Phieu_nhap"
        }
        XemDS.onclick()

    </script>

    </html>