<%- contentFor('Th_Khung') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ứng dụng cho Quản lý - SỬA THÔNG TIN ĐIỆN THOẠI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
    <script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>
	<script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bodered table-hover" id="Table">
                <thead>
                    <tr class="text-primary">
                        <td>Tên</td>
                        <td>Mã số</td>
                        <td>Đơn giá</td>
                        <td>Nhóm</td>
                        <td>Chức năng</td>
                    </tr>
                </thead>
                <tbody id="Th_Danh_sach"></tbody>
            </table>
        </div>
    </div>
</body>

<script>
    var Du_lieu = []
    var DS_Dien_thoai = []
    XL_DU_LIEU.Khoi_dong_Du_lieu(Du_lieu => {
        DS_Dien_thoai = Du_lieu.Danh_sach_Dien_thoai
        XuatDT()
    })

    var DT = {}
    var index = -1
    function ChucNang(btn) {
        if (index == -1){
            for (i = 1; i <= DS_Dien_thoai.length; i++)
                if (DS_Dien_thoai[i - 1].Ma_so == btn.value) {
                    DT = DS_Dien_thoai[i - 1]
                    index = i - 1
                    break;
                }
            Th_Danh_sach.innerHTML = ""
            XL_DIEN_THOAI.Tao_The_hien_Xoa_Thanh_ly(DT, Th_Danh_sach, "Quay Về")
            Tao_Th_Sua(DT)
        }else{
            XuatDT()
        }
    }

    function Tao_Th_Sua(DT) {
        var th = document.createElement("tr")
        Th_Danh_sach.appendChild(th)
        var noidung = ""
        noidung += `<td style="position:relative;right:10px;"><input type="checkbox" value="1" style="margin:5px" onchange="th_doi(this)"><input type="text" id="Th_Sua_ten" readOnly></td>`
        noidung += `<td>${DT.Ma_so}</td>`
        noidung += `<td style="position:relative;right:10px;"><input type="checkbox" value="2" style="margin:5px" onchange="th_doi(this)"><input type="text" id="Th_Sua_gia" readOnly></td>`
        noidung += `<td>${DT.Nhom_Dien_thoai.Ten}</td>`
        noidung += `<td><button class="btn btn-danger" value="${DT.Ma_so}" onclick="update(this)">Thực Hiện</button></td>`
        th.innerHTML = noidung
    }

    function th_doi(btn) {
        var bool = false;
        if (btn.checked == false) {
            bool = true
        }
        if (btn.value == 1) {
            document.getElementById("Th_Sua_ten").readOnly = bool
        } else if (btn.value == 2) {
            document.getElementById("Th_Sua_gia").readOnly = bool
        }
    }

    function update(btn) {
        var chkList = document.querySelectorAll('input[type=checkbox]:checked')
        chkList.forEach(x => {
            if (x.value == 1) {
                if (Th_Sua_ten.value.trim() != "")
                    DT.Ten = Th_Sua_ten.value.trim()
            }
            else if (x.value == 2)
                if (Nhap_So_nguyen_duong(Th_Sua_gia).Hop_le)
                    DT.Don_gia_Ban = Nhap_So_nguyen_duong(Th_Sua_gia).So_nguyen
        })
        
        XL_DU_LIEU.Sua_Thong_tin_Dien_thoai(DT)
        
        if (index != -1){
            Sua_DS_Dien_thoai(DT, index)
        }

        XuatDT()
    }

    function Sua_DS_Dien_thoai(DT, index){
        DS_Dien_thoai[index].Ten = DT.Ten
        DS_Dien_thoai[index].Don_gia_Ban = DT.Don_gia_Ban
    }

    function XuatDT(){
        Th_Danh_sach.innerHTML = ""
        DS_Dien_thoai.forEach(Dien_thoai => {
            XL_DIEN_THOAI.Tao_The_hien_Xoa_Thanh_ly(Dien_thoai, Th_Danh_sach, "Sửa")
        })
        index = -1
        DT = {}
    }

</script>

</html>