<%- contentFor('Th_Khung') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ứng dụng cho Quản lý</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
    <script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>	
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-7 col-sm-7 col-sm-offset-2">
                <div class="table-responsive" id="Th_dt"></div>
                <button id="Th_Dong_y" class="btn btn-danger">Thêm điện thoại</button>
            </div>
        </div>
    </div>
</body>

<script>
    XL_DIEN_THOAI.Tao_the_hien_Them_Dien_thoai(Th_dt)
    Th_Dong_y.onclick = () => {
        var DT={}
        DT.Ten = Th_Ten.value
        DT.Don_gia_Ban = Th_Don_gia_Ban.value
        DT.Nhom_Dien_thoai = {}
        DT.Nhom_Dien_thoai.Ten = Th_Nhom_Dien_thoai.value.toLowerCase()
        DT.Nhom_Dien_thoai.Ten = DT.Nhom_Dien_thoai.Ten[0].toUpperCase() + DT.Nhom_Dien_thoai.Ten.slice(1)
        DT.Nhom_Dien_thoai.Ma_so = Th_Nhom_Dien_thoai.value
        DT.Ma_so = Tim_Ma_so(Danh_sach_Dien_thoai, DT.Nhom_Dien_thoai.Ma_so)

        XL_DU_LIEU.Ghi_moi_Dien_thoai(DT)
        Danh_sach_Dien_thoai.push(DT)
    }
    
    var Danh_sach_Dien_thoai
    XL_DU_LIEU.Khoi_dong_Du_lieu((Du_lieu)=>{
        Danh_sach_Dien_thoai=Du_lieu.Danh_sach_Dien_thoai
    })
    // Tìm 
    function Tim_Ma_so(Danh_sach,Loai_dien_thoai)
    {
        var Danh_sach_Ma_so = []
            Danh_sach.forEach(Dien_thoai => {
                if (Dien_thoai.Nhom_Dien_thoai.Ma_so == Loai_dien_thoai) {
                    var Thanh_phan_con = Dien_thoai.Ma_so.trim().split("_")
                    Danh_sach_Ma_so.push(parseInt(Thanh_phan_con[1]))
                }

            })

            Danh_sach_Ma_so.sort(function(a, b) {
                return a - b
            })

            var Ma_so_Sau_cung = Danh_sach_Ma_so[Danh_sach_Ma_so.length - 1]
            Ma_so_Sau_cung += 1
            return `${Loai_dien_thoai}_${Ma_so_Sau_cung}`
    }
</script>

</html>