<%- contentFor('Th_Khung') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ứng dụng cho Quản lý - Giao Diện Tìm Kiếm</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
    <script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>
	<script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="col-md-4 col-sm-offset-4">
            <table class="table table-hover">
                <tr>
                    <td><label style="margin-top:7px" for="Th_gia_nn">Giá từ:</label></td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" id="Th_gia_nn" onchange="Tao_Gia_LN()">

                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label style="margin-top:7px" for="Th_gia_ln">Đến giá:</label></td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" id="Th_gia_ln" onchange="XuatDT()">

                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                        <td><label style="margin-top:7px" for="Th_Loai">Loại:</label></td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="Th_Loai" onchange="XuatDT()">                                  
                                </select>
                            </div>
                        </td>
                    </tr>
            </table>
        </div>

        <div class="table-responsive" style="clear:both">
            <table class="table table-condensed table-striped table-bodered table-hover">
                <thead>
                    <tr class="text-primary">
                        <td>Tên</td>
                        <td>Mã số</td>
                        <td>Đơn giá</td>
                        <td>Nhóm</td>
                    </tr>
                </thead>
                <tbody id="Th_Danh_sach"></tbody>
            </table>
        </div>
    </div>
</body>

</html>

<script>
    var DS_Gia = []
    var DS_Dien_thoai = []
    DS_Gia = ['0', '1000000', '3000000', '5000000', '8000000', '10000000', '15000000', '99000000']
    DS_Nhom = ['all', 'Android', 'iphone']
    var Du_lieu = []
    XL_DU_LIEU.Khoi_dong_Du_lieu(Du_lieu => {
        DS_Dien_thoai = Du_lieu.Danh_sach_Dien_thoai
        XuatDT(0, DS_Gia.length - 1)
        console.log(DS_Dien_thoai)
    })

    Tao_gia_nn()
    Tao_Gia_LN()
    Tao_Nhom()

    function Tao_Nhom(){
        for (i = 0; i < DS_Nhom.length; i++){
            var th = document.createElement("option")
            Th_Loai.appendChild(th)
            th.value = i
            th.innerHTML = DS_Nhom[i].toUpperCase();
        }
    }

    function Tao_gia_nn() {
        for (i = 0; i < DS_Gia.length - 1; i++) {
            var th = document.createElement("option")
            Th_gia_nn.appendChild(th)
            th.value = i
            th.innerHTML = Tao_Chuoi_The_hien_So_nguyen_duong(DS_Gia[i])
        }
    }

    function Tao_Gia_LN() {
        var old_value = Th_gia_ln.value
        var old_index = -1
        /*
            old_value = "" hoặc giá trị cũ
            old_index = -1 => Th_Gia_ln có giá trị nhỏ hơn Th_Gia_nn hoặc vừa được khỏi tạo
            old_index để định vị Selected cũ của Th_Gia_ln không cần chọn lại trong trường hợp Th_Gia_ln > Th_Gia_nn
        */
        Th_gia_ln.innerHTML = ""
        var j = Th_gia_nn.value

        j++
        for (i = j; i < DS_Gia.length; i++) {
            var th = document.createElement("option")
            Th_gia_ln.appendChild(th)
            th.value = i
            th.innerHTML = Tao_Chuoi_The_hien_So_nguyen_duong(DS_Gia[i])
            /*
                So sánh i và old_value (DS_Gia) để tìm old_index
            */
            if (i == old_value)
                old_index = i - j
            if (i == DS_Gia.length - 1)
                th.innerHTML = "Đến hết"
        }
        if (old_index == -1)
            Th_gia_ln.selectedIndex = Th_gia_ln.options.length - 1
        else
            Th_gia_ln.selectedIndex = old_index

        XuatDT()
    }

    function XuatDT(nn = Th_gia_nn.value, ln = Th_gia_ln.value) {
        Th_Danh_sach.innerHTML = ""
        
        DS_Dien_thoai.forEach(Dien_thoai => {
            if ((Dien_thoai.Don_gia_Ban > parseInt(DS_Gia[nn])) && Dien_thoai.Don_gia_Ban < parseInt(DS_Gia[ln]))
                if (Th_Loai.value != 0){
                    if (Dien_thoai.Nhom_Dien_thoai.Ten == DS_Nhom[Th_Loai.value])
                        XL_DIEN_THOAI.Tao_The_hien(Dien_thoai, Th_Danh_sach)
                }else XL_DIEN_THOAI.Tao_The_hien(Dien_thoai, Th_Danh_sach)
        })
    }

</script>