<%- contentFor('Th_Khung') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ứng dụng cho Quản lý</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
    <script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>	

</head>

<body>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bodered table-hover">
                <thead>
                    <tr class="text-primary">
                        <td>Tên</td>
                        <td>Mã số</td>
                        <td>Đơn giá</td>
                        <td>Nhóm</td>
                    </tr>
                </thead>
                <tbody id="Th_Danh_sach"></tbody>
            </table>
        </div>
    </div>
</body>

<script>
    var Du_lieu = []
    XL_DU_LIEU.Khoi_dong_Du_lieu(Du_lieu => {
        var DS_Dien_thoai = Du_lieu.Danh_sach_Dien_thoai
        DS_Dien_thoai.forEach(Dien_thoai => {
            XL_DIEN_THOAI.Tao_The_hien(Dien_thoai, Th_Danh_sach)
        })
    })

</script>

</html>