<%- contentFor('Th_Khung') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ứng dụng cho Quản lý - XÓA VÀ THANH LÝ ĐIỆN THOẠI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/Xu_ly/XL_CO_SO.js"></script>
    <script src="/javascripts/Xu_ly/XL_UNG_DUNG_Quan_ly.js"></script>
	<script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="col-xs-offset-4" style="margin-bottom:10px">
            <button class="btn btn-danger" id="Th_Dong_y_Xoa" style="margin:5px">Xoá</button>
            <button class="btn btn-danger" id="Th_Dong_y_Thanh_ly">Thanh Lý</button>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-bodered table-hover">
                <thead>
                    <tr class="text-primary">
                        <td>Tên</td>
                        <td>Mã số</td>
                        <td>Đơn giá</td>
                        <td>Nhóm</td>
                        <td>Chức năng</td>
                    </tr>
                </thead>
                <tbody id="Th_Danh_sach"></tbody>
            </table>
        </div>
    </div>
</body>

<script>
    var DS_Dien_thoai = []

    // function ChucNang(btn) {
    //     XL_DU_LIEU.Xoa_Dien_thoai(btn.value)
    //     DS_Dien_thoai.forEach((dt, index) => {
    //         if (dt.Ma_so == btn.value)
    //             DS_Dien_thoai.splice(index, 1)
    //     })
    //     Xuat_DT()
    // }

    var Danh_sach_xoa_va_thanh_ly = []
    Th_Dong_y_Xoa.onclick=()=>{
        Danh_sach_xoa_va_thanh_ly = []
        Danh_sach_xoa_va_thanh_ly = document.querySelectorAll('input[type=checkbox]:checked')
        for (i = 0; i < Danh_sach_xoa_va_thanh_ly.length; i++) {
            XL_DU_LIEU.Xoa_Dien_thoai(Danh_sach_xoa_va_thanh_ly[i].value)
            DS_Dien_thoai.forEach((dt, index) => {
                if (dt.Ma_so == Danh_sach_xoa_va_thanh_ly[i].value)
                    DS_Dien_thoai.splice(index, 1)
            })
        }
        if (Danh_sach_xoa_va_thanh_ly.length != 0)
            localStorage.setItem("XOA","TRUE")
        Xuat_DT()
    }

    Th_Dong_y_Thanh_ly.onclick=()=>{
        Danh_sach_xoa_va_thanh_ly = []
        Danh_sach_xoa_va_thanh_ly = document.querySelectorAll('input[type=checkbox]:checked')
        for (i = 0; i < Danh_sach_xoa_va_thanh_ly.length; i++) {
            XL_DU_LIEU.Thanh_ly_Dien_Thoai(Danh_sach_xoa_va_thanh_ly[i].value)
            DS_Dien_thoai.forEach((dt, index) => {
                if (dt.Ma_so == Danh_sach_xoa_va_thanh_ly[i].value)
                    DS_Dien_thoai.splice(index, 1)
            })
        }
        Xuat_DT()
    }

    XL_DU_LIEU.Khoi_dong_Du_lieu(Du_lieu => {
        DS_Dien_thoai = Du_lieu.Danh_sach_Dien_thoai
        Xuat_DT()
    })

    var Xuat_DT = () => {
        Th_Danh_sach.innerHTML=""
        DS_Dien_thoai.forEach(Dien_thoai => {
            var th = XL_DIEN_THOAI.Tao_The_hien_Xoa_Thanh_ly_2(Dien_thoai, Th_Danh_sach)
        })
    }

</script>

</html>